@import 'tailwindcss';
@import 'tw-animate-css';

/* @custom-variant dark (&:is(.dark *)); */
@layer base {
  :root {
    --background: 37 79% 94%;
    --foreground: 14 41% 10%;
    --card: 36 77% 90%;
    --card-foreground: 37 79% 40%;
    --popover: 37 79% 100%;
    --popover-foreground: 37 79% 50%;
    --primary: 35 100% 65%;
    --primary-foreground: 35 100% 0%;
    --secondary: 13 37% 42%;
    --secondary-foreground: 13 37% 0%;
    --muted: 37 79% 99%;
    --muted-foreground: 14 41% 10%;
    --accent: 37 79% 94%;
    --accent-foreground: 14 41% 10%;
    --destructive: 0 91% 71%;
    --destructive-foreground: 0 91% 100%;
    --border: 37 79% 94%;
    --input: 37 79% 99%;
    --ring: 35 100% 55%;
    --radius: 0.5rem;
    --chart-1: 35 100% 65%;
    --chart-2: 13 37% 42%;
    --chart-3: 159 44% 40%;
    --chart-4: 159 44% 50%;
    --chart-5: 35 100% 75%;
    
    --sidebar-background: 37 79% 91%;
    --sidebar-foreground: 14 41% 38%;
    --sidebar-primary: 35 100% 38%;
    --sidebar-primary-foreground: 35 100% 0%;
    --sidebar-accent: 37 79% 50%;
    --sidebar-accent-foreground: 14 41% 10%;
    --sidebar-border: 37 79% 91%;
    --sidebar-ring: 35 100% 52%;
  }

  .dark {
    --background: 37 79% 34%;
    --foreground: 14 41% 84%;
    --card: 37 79% 54%;
    --card-foreground: 14 41% 100%;
    --popover: 37 79% 0%;
    --popover-foreground: 37 79% 94%;
    --primary: 35 100% 35%;
    --primary-foreground: 35 100% 100%;
    --secondary: 13 37% 0%;
    --secondary-foreground: 13 37% 72%;
    --muted: 37 79% 44%;
    --muted-foreground: 14 41% 94%;
    --accent: 37 79% 34%;
    --accent-foreground: 14 41% 84%;
    --destructive: 0 91% 84%;
    --destructive-foreground: 0 91% 100%;
    --border: 37 79% 0%;
    --input: 37 79% 84%;
    --ring: 35 100% 84%;
    --radius: 0.5rem;
    --chart-1: 35 100% 0%;
    --chart-2: 13 37% 0%;
    --chart-3: 159 44% 0%;
    --chart-4: 159 44% 0%;
    --chart-5: 35 100% 0%;
    
    --sidebar-background: 37 79% 26%;
    --sidebar-foreground: 14 41% 88%;
    --sidebar-primary: 35 100% 50%;
    --sidebar-primary-foreground: 0 0% 0%;
    --sidebar-accent: 37 79% 50%;
    --sidebar-accent-foreground: 14 41% 0%;
    --sidebar-border: 0 0% 0%;
    --sidebar-ring: 35 100% 76%;
  }
}

@theme {
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));
}